/* Estilos Generales*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegurarse de que el body ocupe toda la altura de la pantalla */
}

main {
    flex-grow: 1;
}

footer {
    margin-top: auto;
}



.titulos {
    text-align: center;
    text-decoration: underline;
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: italic;
}

.logo {
    width: 200px;
}

ul {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    background-color: pink;
    color: black;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* Páginas ¿Quien Soy? y servicios */

.imagen_presentacion,
.imagen_servicios,
.imagen_galeria {
    width: 400px;
}


.seccion {
    display: flex;
    /* height: 100vh; */
}

/* Pie de página */

.redes-sociales {
    width: 100px;
}

footer h3 {
    text-decoration: underline;
}

footer div {
    text-align: center;
}

.footer {
    font-size: 20px;
    text-align: center;
}

@media(max-width: 500px) {

    header {
        display: flex;
        flex-direction: column; /* Apilar los elementos */
        align-items: center; /* Centrar los elementos */
    }

    header nav ul {
        display: flex;
        flex-direction: column; /* Apilar los enlaces de navegación */
        align-items: center; /* Centrar los enlaces */
    }

    header nav ul li {
        margin: 10px 0; /* Añadir espacio entre los elementos */
    }

    .seccion {
        display: flex;
        height: 60vh;
    }

    .piepagina {
        display: flex;
        flex-direction: column;
        margin-top: 100%;
    }


}