@use '../utilities/extends';
@use '../utilities/mixin';

/* Páginas ¿Quien Soy? y servicios */

.imagen_presentacion,
.imagen_servicios,
.imagen_galeria {
    //width: 400px;
    @include mixin.imagen(400px);
}


.seccion {
    //display: flex;
    @extend %displayBasico;
}

.imagen_servicios:hover{
    transform: scale(1.05);
}

.img_servicios{
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}